<div class="container">
<div id="title">
  <h1 >Taks List</h1>
  <a href="admin" target="_blank">Tasks Management</a>
  <a href="dashboard" target="_blank">Dashboard of Tasks</a>
  <a href="tasks" target="_blank">Return to Login </a>
</div>

<div class="main">


<div class="header">
  <div class="filter">
 <mat-select
  class="header-button"
  [(ngModel)]="searchId"
  placeholder="Select Id"
  (selectionChange)="idChange($event.value)">
    @for (i of numbers; track $index) {
      <mat-option [value]="i">{{ i }}</mat-option>
    }
  </mat-select>
  <button *ngIf="displayPlaceholder1==false" (click)="getTasks()" class="cancel">Cancel</button>
  </div>
   
  <div class="filter">
  <mat-select class="header-button" 
  [(ngModel)]="status" [placeholder]="displayPlaceholder2 ? 'Select Status' : ''"
  (selectionChange)="statusChange($event.value)"
  >
    <mat-option value="COMPLETED">Completed</mat-option>
    <mat-option value="PENDING">Pending</mat-option>
    <mat-option value="IN_PROGRESS">In Progress</mat-option>
    <mat-option value="OVERDUE">Overdue</mat-option>
</mat-select>
  <button *ngIf="displayPlaceholder2==false" (click)="getTasks()" class="cancel">Cancel</button>
  </div>

  <button mat-button class="header-button" [mat-menu-trigger-for]="menu">modify</button>
    <mat-menu style="background-color: black;" class="menu" #menu="matMenu" [hasBackdrop]="false">
    <input matinput type="number" placeholder="Enter Tasks's Id" (click)="$event.stopPropagation()" [(ngModel)]="updatedId" ><br>
    <mat-select id="updatedStatus" class="header-button" 
      [(ngModel)]="updatedStatus" placeholder="Select Status"
       (click)="$event.stopPropagation()"
      >
        <mat-option value="COMPLETED">Completed</mat-option>
        <mat-option value="PENDING">Pending</mat-option>
        <mat-option value="IN_PROGRESS">In Progress</mat-option>
        <mat-option value="OVERDUE">Overdue</mat-option>
      </mat-select><br>
      <button class="cancel">cancel</button>
      <button style="margin-right: 0px;" class="header-button" (click)="updateTaskStatus()" >confirm</button>
    </mat-menu>
</div>


<div class="tasks-list">
@if (isTableVisible1==true) {
<mat-table  *ngIf="isTableVisible1" [dataSource]="dataSource" class="table" matSort matPaginator>
  <ng-container matColumnDef="id" >
    <mat-header-cell  *matHeaderCellDef class="table1" mat-sort-header> ID </mat-header-cell>
    <mat-cell *matCellDef="let task"> {{task.id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef class="table1" mat-sort-header> Title </mat-header-cell>
    <mat-cell *matCellDef="let task"> {{task.title}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef class="table1"> Description </mat-header-cell>
    <mat-cell *matCellDef="let task"> {{task.description}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef class="table1"> Status </mat-header-cell>
    <mat-cell *matCellDef="let task"> {{task.status}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="deadline">
    <mat-header-cell *matHeaderCellDef class="table1"> Deadline </mat-header-cell>
    <mat-cell *matCellDef="let task"> {{task.deadline}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator *ngIf="isTableVisible1" 
               #paginator1
               [pageSize]="5" 
               [pageSizeOptions]="[5, 10, 20]"
               showFirstLastButtons
               aria-label="Select page of tasks">
</mat-paginator>
}



@else if (isTableVisible2==true) {
@if (task) {
  <mat-table style="color:white" [dataSource]="[task]" class="table">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let task"> {{task.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
      <mat-cell *matCellDef="let task"> {{task.title}} </mat-cell>
    </ng-container>

   <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef class="table1"> Description </mat-header-cell>
    <mat-cell *matCellDef="let task"> {{task.description}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef class="table1"> Status </mat-header-cell>
    <mat-cell *matCellDef="let task"> {{task.status}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="deadline">
    <mat-header-cell *matHeaderCellDef class="table1"> Deadline </mat-header-cell>
    <mat-cell *matCellDef="let task"> {{task.deadline}} </mat-cell>
  </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
}
@else {
  <h3>No Task Found With That Id</h3>
}
}




@else if (isTableVisible3==true) {
<mat-table style="color:white" *ngIf="isTableVisible3" [dataSource]="dataSource1" class="table" matSort>
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
    <mat-cell *matCellDef="let task"> {{task.id}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
    <mat-cell *matCellDef="let task"> {{task.title}} </mat-cell>
  </ng-container>

 <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef class="table1"> Description </mat-header-cell>
    <mat-cell *matCellDef="let task"> {{task.description}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef class="table1"> Status </mat-header-cell>
    <mat-cell *matCellDef="let task"> {{task.status}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="deadline">
    <mat-header-cell *matHeaderCellDef class="table1"> Deadline </mat-header-cell>
    <mat-cell *matCellDef="let task"> {{task.deadline}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator *ngIf="isTableVisible3" 
               #paginator2
               [pageSize]="5" 
               [pageSizeOptions]="[5, 10, 20]"
               showFirstLastButtons
               aria-label="Select page of completed tasks">
</mat-paginator>
}




@else if (isTableVisible4==true){
@if (updatedTask) {
  <mat-table [dataSource]="[updatedTask]" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let task"> {{task.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
      <mat-cell *matCellDef="let task"> {{task.title}} </mat-cell>
    </ng-container>

   <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef class="table1"> Description </mat-header-cell>
    <mat-cell *matCellDef="let task"> {{task.description}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef class="table1"> Status </mat-header-cell>
    <mat-cell *matCellDef="let task"> {{task.status}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="deadline">
    <mat-header-cell *matHeaderCellDef class="table1"> Deadline </mat-header-cell>
    <mat-cell *matCellDef="let task"> {{task.deadline}} </mat-cell>
  </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
}}
</div>
</div>
</div>



<button  mat-icon-button class="button"
        (click)="getUnseenNotification()"
        [matMenuTriggerFor]="textMenu"
        matTooltip="Show notifications"
        aria-label="Notifications button"
        [matBadge]="notLenght"
        matBadgeColor="warn"
        >
  <mat-icon style="color: rgb(188, 190, 69);">notifications</mat-icon>
</button>

<mat-menu #textMenu="matMenu" class="large-text-menu">
  <div class="menu-content">
      <div *ngFor="let notification of notifications" 
           class="notification-item"> 
        <mat-icon *ngIf="isUnseen(notification)">info</mat-icon>
        <span>{{ notification.name }}</span>
        <small>{{ notification.localDate}}</small>
      </div>
    </div>
</mat-menu>