 <div class="container">
  <div class="menu"><app-menu-component></app-menu-component></div>
    <div class="main">
  <div class="header">
    <h1>Your Taks List</h1>
    
    <div class="buttons">
      
  </div>

 
  <div class="tasks-list">
      <ag-grid-angular
      class="ag-theme-quartz ag-grid"
      [theme]="theme"
      [rowData]="tasks"
      [columnDefs]="colDef"
      [defaultColDef]="colDefault"
      [pagination]="true"
      [paginationPageSize]="pageSize"
      [paginationPageSizeSelector]="pageSizeSelector"
      domLayout="autoHeight"
    >
    </ag-grid-angular> 
</div>
</div>





<p-dialog position='top' header="Update Task Status" [modal]="true" [(visible)]="dialogVisible" [style]="{ width: '25rem' }">
      <div style="margin-top: 5px;">
      <label for="select">Task Status</label>
        <p-select
            id="select"
            [options]="statusOptions"
            [(ngModel)]="updatedStatus"
            [checkmark]="true"
            [showClear]="true"
            appendTo="body"
            dropdownIcon="pi pi-chevron-up"
            class="dialog-select"
            placeholder="SELECT STATUS">
        </p-select>
      </div>
    <div class="dialog-button">
        <p-button class="cancel"  label="Cancel" severity="secondary" (click)="dialogVisible=false" />
        <p-button class="confirm" label="Confirm" (click)="updateTaskStatus()" severity="info" />
    </div>
</p-dialog>








<p-button mat-icon-button class="notification-button"
        (click)="getUnseenNotification()"
        [matMenuTriggerFor]="textMenu"
        [matBadge]="notLenght" 
        matBadgeColor="warn" 
        pTooltip="Notification"
        showDelay="1000"
        variant="text">
       <mat-icon style="color: rgb(188, 190, 69);">notifications</mat-icon>
       <!-- <p-overlaybadge [value]="notLenght" severity="danger">
          <i class="pi pi-envelope" style="font-size: 2rem"></i>
        </p-overlaybadge> -->

</p-button>

<mat-menu #textMenu="matMenu" class="large-text-menu">
  <div class="menu-content">
      <div *ngFor="let notification of notifications" 
           class="notification-item"> 
        <mat-icon *ngIf="isUnseen(notification)">info</mat-icon>
        <span>{{ notification.name }}</span>
        <small>{{ notification.localDate}}</small>
      </div>
    </div>
</mat-menu> 