.container{
  display: flex;
  flex-direction: row;
  height: 100%; 
  width: 100%;
  min-height: 800px;
}

.main{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(240, 240, 245);
}

.tasks-list{
  position: relative;
  margin: 0px;
  width: 100%;
  background-color: rgb(242, 242, 253);
  color: rgb(17, 16, 16);
  /* left: 10%;
  right: 10%; */
}
.header{
  display: flex;
  flex-direction: row;
  margin-left:30px;
  margin-top: 20px;
  margin-right: 60px;
  margin-bottom: 20px; 
}
.header-button{
  width: 90px;
  border-radius: 8px;
  border-color: #eee;
  cursor: pointer;
  font-size: 15px;
  margin-right: 30px;
  /* background-color: rgb(214, 215, 219); */
  background-color: rgb(245, 240, 240);
  color: black;
  max-height: 27px;
  min-height: 34px;
  font-size: 15px;
}


#title{
    background-color:rgb(54, 69, 156); /*#1e3a8a*/
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 28%;
    min-width: 170px;
    max-width: 205px;
    align-items: center;
    /* justify-content: center; */
    min-height: 100vh;
}
h1{
    font-size: 33px;
    margin-bottom: 7px;
}
a{
  margin: 6px;
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.icon-menu{
  margin:0px;
  padding: 0px;
  margin-top: 5px;
  position: relative;
  top: 7px;
  margin-right: 3px;
}

.menu-item{
  margin-left: 0px;
  font-size: 17px;
  white-space: nowrap;
}

.filter{
  display: flex;
  flex-direction: column;
}
.cancel{
  width: 80px;
  border-radius: 8px;
  border-color: #eee;
  cursor: pointer;
  max-height: 45px;
  min-height: 40px;
  min-height: 27px;
  font-size: 15px;
  margin-right: 2px;
  background-color: rgb(245, 240, 240);
  color: black;
}

#updatedStatus{
  min-height: 18px;
  margin-top: 7px;
  min-width: 100px;
  width: 87%;
  margin-bottom: 10px;
  margin-left: 2px;
  margin-right: 0px;
}

input{
  background-color: rgb(245, 240, 240);
  color: rgb(24, 23, 23);
  border-radius: 4px;
  border-color: white;
  min-height: 18px;
  width: 90%;
  margin-right: 0px;
}


::ng-deep .mat-mdc-table .mat-mdc-cell,
::ng-deep .mat-mdc-table .mat-mdc-header-cell {
  color: rgb(10, 10, 10) !important;
}


.modify {
  background-color: rgb(42, 42, 44);
}

.modify-menu {
  background-color: rgb(42, 42, 44) !important;
  color: white;
}

.modify-menu .mat-menu-content {
  background-color: rgb(42, 42, 44);
  color: white;
  padding: 16px;
}

.modify-menu .mat-form-field {
  width: 100%;
}



::ng-deep .mat-mdc-menu-panel {
  background-color: rgb(255, 255, 255) !important; 
  color: white !important;
}

h3{
  margin-left: 50px;
}

#info{
  position: fixed;
  bottom: 16px;
}







::ng-deep .mat-badge-content {
  font-size: 11px !important;
  width: 18px !important;
  height: 18px !important;
  line-height: 18px !important;
  border-radius: 50% !important;
}

::ng-deep .mat-badge-warn .mat-badge-content {
  background-color: #f30c0c !important; /* Custom pink */
  color: rgb(212, 202, 202) !important;
}

::ng-deep .mat-badge-above-after .mat-badge-content {
  top: -8px !important;
  right: -8px !important;
}
/* ::ng-deep can style elements OUTSIDE your component
Material components like datepicker are rendered outside your component in the global DOM (usually at the end of <body>). So without ::ng-deep, your component's CSS can't reach them. */


.large-text-menu {
  width: 400px;
  max-width: 90vw;
}

.menu-content {
  padding: 16px;
  background-color: #ffff;
  color: rgb(19, 18, 18);
  max-height: 300px;
  overflow-y: auto;
}


.notification-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
  color: rgb(11, 12, 12);
}



.notification-item mat-icon {
  color: #c2e06d;
  font-size: 18px;
  width: 18px;
  height: 18px;
}

.notification-item span {
  flex: 1;
}


.notification-item small {
  font-size: 11px;
}

.button {
  position: fixed;
  /* z-index: 1000; */
  top: 16px;
  right: 16px;
  background-color: rgb(240, 240, 245) ;
  border-color: rgb(240, 240, 245);
  cursor: pointer;
}

::ng-deep .menu{
  max-width: 200px!important;
  margin: 0px!important;
}



::ng-deep .snackbar{
  background-color: rgb(247, 247, 247);
  color: rgb(0, 0, 0);
  border-radius:6px ;
  margin-bottom: 30px;
}

::ng-deep  .mdc-snackbar__action {
  --mdc-text-button-hover-state-layer-color: transparent !important;
}

::ng-deep .mdc-snackbar__action:hover {
  background-color: white !important;
  color: #b8b1b1 !important;
}

::ng-deep  .mdc-snackbar__action:hover .mdc-button__label {
  color: #080808 !important;
}