.login-backround{    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(207, 207, 207);
}
.login-form{
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
    width: 400px;
    min-height: 540px;
    border-radius: 35px;
    align-items: center;
    color: black;
    
} 

h2{
    margin:  40px;
    font-size: 43px;
    color: black;
}


.form{
    margin-top: 20px;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 33%;
    width: 100%;
    min-width: 450px;
}
.input-field{
    border-radius: 20px;
    width: 70%;
}
.invalid-feedback{
    color: rgb(241, 72, 72);
}
.form-label{
    color: rgb(90, 89, 89);
}

#image-container{
    display: flex;
    flex-direction: row;
    width: 70%;
}
#image-label{
    background-color: #dbdbdb;
    color: black;
    margin-top: 11px;
    margin-right: 10px;
    margin-left: 3px;
    font-size: 16px;
    border-radius: 6px;
    width: 60%;
    max-width: 140px;
    height:110%;
    min-height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}
#image-label:hover{
    background-color:#cfcece
}
i{
    margin-left: 3px;
    margin-right: 5px;
}
img{
    margin-top: 5px;
    margin-left: 20px;
    max-width: 100px;
    max-height: 100px;
    border-radius: 10px;
}
#no-image-chosen{
    margin-top: 20px;
    margin-left: 10px;
}


:host ::ng-deep .login-button .p-button{
    background-color: #1d2fa5;
    color: white!important;
    width:70% !important;
    height: 110%!important;
    border-radius: 35px!important;
    font-size: 21px !important;
    margin-top: 5px;
}
:host ::ng-deep .login-button .p-button:hover{
    background-color: #2840c7;
}


.text-container{
    margin-top: 10px;
    margin-left: 0px;
    margin-right:20px;
    display: flex;
    flex-direction: row;
    width: 45%;
    height: 7%;
}
#signup{
    margin-top: 15px;
    margin-left: 3px;
    color: rgb(17, 19, 173);
    text-decoration: underline;
    cursor: pointer;
    white-space: nowrap;
}
p{
    color: black;
    white-space: nowrap;
}
