    <div class="login-backround">
    <div class="login-form">
    <h2>Sign Up</h2>

   <form class="form" >
    <p-float-label variant="in" >
    <input pInputText class="input-field" type="text" id="username" [(ngModel)]="addedUser.name" name="name" required>
    <label for="username" class="form-label">Username</label>
    @if (nameNote){<div class="invalid-feedback">{{nameNote}}</div>}
    
    </p-float-label>
    <p-float-label variant="in" >
    <input pInputText class="input-field" type="email" id="email" [(ngModel)]="addedUser.email" name="email"  required email>
    <label for="email" class="form-label">Email</label>
    @if (emailNote){<div class="invalid-feedback">{{emailNote}}</div>}
    </p-float-label>
   <p-float-label variant="in">
    <input pInputText class="form-control input-field" type="password" id="password"  [(ngModel)]="addedUser.password" name="passsword" minlength="4" required>
    <label for="password" class="form-label">Password</label>
    @if(passwordNote){<div class="invalid-feedback" >{{passwordNote}}</div>}
   </p-float-label>
   <div>

   <div id="image-container">
    @if (imageUrl) {
        <label for="image-input" id="image-label"><i class="pi pi-upload"></i>Change picture</label>      
        <img [src]="imageUrl">
    } @else {
        <label for="image-input" id="image-label"><i class="pi pi-upload"></i>profile picture</label>
        <p id="no-image-chosen">no image chosen</p>
    }
   </div>
    <input id="image-input" type="file" (change)="onImageSelected($event)" style="display: none;" accept="image/*" />       
    @if(imageNote){<p class="invalid-feedback" *ngIf="imageNote!==blank" style="margin-top:1px">{{imageNote}}</p>}
   </div>
  <p-button  class="login-button" icon="pi pi-sign-up" label="Sign Up" (click)="createUser()"></p-button>
  </form>

    <div class="text-container">
        <p >Already a member? </p>
        <a id="signup" href="tasks"  >Login Now</a>
    </div>
   </div>
   </div>
