.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 643px;
    max-height: 800px;
    overflow: hidden;
    background-color: black;
    /* max-height: 633px; */
    font-size: 14px;
    min-width: 3000px;
}

.login-backround{
    background-size: 100% 100%;
    display: flex;
    justify-content: start;
    background-color: rgb(215, 233, 250);
    width: 100% ;
}
.login-form{
    background-color: rgb(118, 163, 247);
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 70%;
    margin: 0 auto;
    border-radius: 65px;
    align-items: center;
    max-width: 370px;
    margin-left: 40px;
    margin-top: 60px;
    color: white;
    overflow: hidden;
    position: relative;
    left: 7%;
}

.title{
    background-color:rgb(54, 69, 156);
    color: white;
    margin: 0px;
    display: flex;
    width: 28%;
    max-width: 150px;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}
h1{
    position: relative;
    white-space: nowrap;
    font-size: 55px;
    writing-mode: vertical-rl;
    /* transform: scaleY(-1); */
    transform: rotate(180deg);
}


h2{
    margin-top:  40px;
    margin-bottom: 20px;
    font-size: 40px;
    color: white;
}

.login-input{
    background-color: rgb(213, 227, 241);
    border-radius: 10px;
    border-color: aliceblue;
    display: flex;
    width: 63%;
    height: 9%;
    margin-top: 10px;
    /* margin-bottom: 10px; */
    font-size: 20px;
    padding-left:20px ;
}
.note{
    margin: 0px;
    color: rgb(228, 11, 11);
    margin-left: 8px;
}
#username-note{
    padding-right: 130px;
}
#username-existe-note{
    padding-right: 130px;
}
#email-input{
    font-size: 16px;
}
#email-input::placeholder{
    font-size: 20px;
}
#email-note{
    padding-right: 160px;
    display: block;
}

#image-container{
    display: flex;
    flex-direction: row;
    width: 70%;
}
#image-label{
    background-color: white;
    color: black;
    margin-top: 12px;
    margin-right: 10px;
    margin-left: 13px;
    font-size: 17px;
    border-radius: 15px;
    width: 50%;
    height: 70%;
    max-width: 110px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#image-label:hover{
    background-color:#c9c6c6
}
img{
    margin-top: 5px;
    max-width: 100px;
    max-height: 100px;
}


#login-button{
    margin :10px;
    background-color: blue;
    background-color:rgb(64, 84, 202);
    color: white;
    width:70% ;
    height: 12%;
    border-radius: 15px;
    font-size: 25px;
    cursor: pointer;
}

.login-container{
    min-height: 59%;
}

.text-container{
    margin: 10px;
    display: flex;
    flex-direction: row;
    width: 45%;
    height: 7%;
    margin-bottom: 30px;
}
#signup{
    position: relative;
    top: 15px;
    margin-left: 3px;
    color: yellow;
    text-decoration: underline;
    cursor: pointer;
    white-space: nowrap;
}
p{
    color: black;
    white-space: nowrap;
}
mat-icon{
    margin-right: 3px;
}
.icon-text{
    margin:6px;
    font-size: 14px;
}
#login{
    white-space: nowrap;
    color: yellow;
    margin-left: 3px;
}



::ng-deep .snackbar{
  background-color: rgb(247, 247, 247);
  color: rgb(0, 0, 0);
  border-radius:6px ;
  margin-bottom: 30px;
}

::ng-deep  .mdc-snackbar__action {
  --mdc-text-button-hover-state-layer-color: transparent !important;
}

::ng-deep .mdc-snackbar__action:hover {
  background-color: white !important;
  color: #b8b1b1 !important;
}

::ng-deep  .mdc-snackbar__action:hover .mdc-button__label {
  color: #080808 !important;
}


#no-image-chosen{
    margin-top: 20px;
}