<div class="title">
   <div class="management">
       <a routerLink="/tasks">
          <i class="pi pi-list"></i>
          Your Tasks list
       </a>

       @if (user.role=='ADMIN') {
        <a routerLink="/admin">
          <i class="pi pi-pen-to-square"></i>
          Manage Tasks
       </a>
       <a routerLink="/users">
          <i class="pi pi-users"></i>
          Manage Users
       </a>
       }
       
    </div>


   <div class="account">
       <a routerLink="/signup">
          <i class="pi pi-sign-in"></i>
          Sign In
       </a>
       <a href="#">
          <i class="pi pi-sign-out"></i>
          Log Out
       </a>
   </div>
  
        










    <div class="botom">
       <div style="padding:1px;background-color:rgb(17, 17, 17);margin-bottom:5px;width:100%"></div>
        <div class="about-user">
          <div class="avatar">
            <p-avatar [image]="imageeUrl" class="2" shape="circle" />
            </div>
            <div class="user-info">
                <span class="user-name">{{user.name}} cheikh</span>
                <span class="user-role">{{user.role}}</span>
            </div>
        </div>
    </div>

</div>