<div id="container">
    <div id="title">
      <h1 >Dashbaord</h1>
      <a routerLink="/tasks" class="menu-item" style="font-size: 18px;margin-right:15px" ><mat-icon class="icon-menu">list</mat-icon>User's Taks List</a>
      <a routerLink="/admin" class="menu-item"><mat-icon class="icon-menu">manage</mat-icon>Task Management</a>
      <a href="dashboard" class="menu-item" id="login-menu"><mat-icon class="icon-menu" id="login-icon">login</mat-icon><p style="font-size: 16px;display:inline">Return to Login Page</p></a>

      <div id="info">
       <a style="text-decoration: underline;" href="">about us</a>
       <a style="text-decoration: underline;" href="" >contact us</a>
       <p style="margin-left: 20px;">copyright &copy; 2025</p>
      </div>
    </div>
    <div  class="main">
        <div class="pie-container">
        <div  class="piechart">
           <canvas  baseChart
             [data]="pieChartData"
             [type]="'pie'">
            </canvas>
        </div>
        <h2 class="h2">Total Tasks Numbers : {{totalTasks}}</h2>
        </div>
    </div>
</div>