.container{
  display: flex;
  flex-direction: row;
}
.menu{
  min-width: 190px;
  background-color: rgb(54, 69, 156);
}

.main{
  display:flex;
  flex-direction:column;
  width:100%;
  max-height: 200px;
  min-height:800px;
  background-color: rgb(230, 228, 228);
}

.piechart{
   display:flex;
   justify-content:center;
   max-width:600px;
   max-height:500px;
   min-width:400px;
   min-height: 400px;
   margin-top:30px;
   /* margin-left: 12%; */
}
.h2{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin:40px;
    margin-left: 150px;
    background-color: rgb(245, 234, 234);
    min-height: 50px;
    max-width: 300px;
}
.pie-container{
    display: flex;
    flex-direction: column;
    margin-left: 8%;
}

#info{
  position: fixed;
  bottom: 16px;
}
