.container{
    display: flex;
    flex-direction: row;
}
#title{
    background-color: rgb(54, 69, 156);
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 28%;
    min-width: 170px;
    max-width: 205px;
    align-items: center;
    /* justify-content: center; */
    min-height: 100vh;
    position: sticky;
}
h1{
    /* position: relative; */
    /* white-space: nowrap; */
    font-size: 30px;
    margin-bottom: 7px;
    display: flex;
    white-space: nowrap;
    max-width: 100%;
    /* writing-mode: vertical-rl; */
    /* transform: scaleY(-1); */
    /* transform: rotate(180deg); */
    position:fixed
}
a{
  margin: 6px;
  text-decoration: none;
  color: white;
  font-size: 18px;
}
.icon-menu{
  margin:0px;
  padding: 0px;
  margin-top: 5px;
  position: relative;
  top: 7px;
  margin-right:3px;
}

.menu-item{
  margin-left: 0px;
  font-size: 17px;
  white-space: nowrap;
}
#menu{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-left: 15px;
    margin-right: 3px;
    height: 200px;
    font-size: 29px;
    position: fixed;
}
#login-menu{
    position: relative;
    right: 2px;
}
#login-icon{
    margin-right: 3px;
}
#info{
  position: fixed;
  bottom: 16px;
}

.main-container{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    background-color: rgb(230, 228, 228);
    flex-shrink: 0;
    flex:1;
    position:relative;
}
.card-container{
    flex:1;
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-left: 100px;
    margin: right 100px;
    background-color: rgb(177, 192, 240);
    min-width: 400px;
    min-height: 200px;
    max-width: 400px;
    max-height: 200px;
    border-radius: 20px;
    position: relative;
}
.head-container{
    display: flex;
    flex-direction: row;
}
img{
    max-width: 200px;
    max-height: 120px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 12px;
    border-radius: 10px;
}

#email{
    margin-left: 30px;
    margin-top: 5px;
}
p{
    font-size: 20px;
}

#edite-button{
    cursor: pointer;
    border:none;
    background-color: rgb(177, 192, 240);
}
#delete-button{
    cursor: pointer;
    border:none;
    color: red;
    background-color: rgb(177, 192, 240);
}
.modify-button{
    display: flex;
    margin-top: 5px; 
    margin-bottom: 20px;
    max-width: 70px;
    position: absolute;
    right:0;
    margin-right: 10px;
}

#modify{
    display: block;
    cursor: pointer;
    position: fixed;
    top:16px;
    right: 16px;
    border-radius: 10px;
    border-color: rgb(177, 166, 166);
    background-color: rgb(216, 209, 209);
    min-width: 65px;
    min-height: 30px;
    font-size: 14px;
}

#select-button{
    position: absolute;
    top:16px;
    left:16px;
    display: flex;
    flex-direction: column;
}

.header-button{
  width: 70px;
  border-radius: 8px;
  border-color: #eee;
  cursor: pointer;
  font-size: 15px;
  max-height: 27px;
  min-height: 34px;
  font-size: 15px;
}
.header-button:hover{
    background-color: #e4e2e2;
}
#delete-mat-button{
    margin-right: 5px ;
    margin-left: 5px;
    margin-top: 4px;
    max-width: 65px;
    max-height: 25px;
}
::ng-deep .delete-menu{
    max-height: 100px!important;
    background-color:  #eee!important;
    overflow: hidden!important;
    border-radius:  12px!important;
}
h4{
    margin:0px;
    margin-left: 30px;
}


::ng-deep .edite-menu{
    background-color: #eee!important;
    border-radius: 15px!important;
    max-height: 200px!important;
    overflow: hidden!important;
}

.login-input{
    background-color: rgb(220, 225, 230);
    border-radius: 10px;
    border-color: aliceblue;
    display: flex;
    width: 90%;
    height: 5%;
    margin-top: 10px;
    /* margin-bottom: 10px; */
    font-size: 15px;
    margin-left: 10px;
}
#email-input{
    font-size: 13px;
}
#email-input::placeholder{
    font-size: 15px;
}
#image-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-height: 40px;
}
#image-label{
    background-color: white;
    color: black;
    margin-top: 11px;
    margin-right: 10px;
    margin-left: 13px;
    font-size: 16px;
    border-radius: 6px;
    width: 50%;
    height: 100%;
    max-width: 110px;
    max-height: 49px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#image-label:hover{
    background-color:#e4e2e2
}
#image-text{
    max-width: 50px;
    max-height: 30px;
    font-size: 11px;
}
#edite-mat-button{
    margin-right: 5px;
    margin-left: 10px;
}