<div class="chat-box">
  <div *ngFor="let msg of messages" class="message">
    {{ msg }}
  </div>
  <div class="input-area">
    <input [(ngModel)]="newMessage" placeholder="Type message..." />
    <button (click)="send()">Send</button>
  </div>
</div>

<input type="file" (change)="onImageSelected($event)" accept="image/*">
<button (click)="addImage()">Add Image</button>

<img src="http://localhost:8080/images/image1.png" style="max-height:100px; margin-top:200px"  >



<label for="file-input" class="custom-file-button">
  Choose File
</label>
<input type="file" id="file-input" style="display: none;">

<!-- <script>
document.getElementById('file-input').addEventListener('change', function(e) {
  const fileName = e.target.files[0]?.name || 'No file chosen';
  document.querySelector('.custom-file-button').textContent = fileName;
});
</script> -->

<style>
.custom-file-button {
  background: #7a848f;
  color: white;
  padding: 10px 50px;
  border-radius: 15px;
  cursor: pointer;
  display: inline-block;
}
</style>
