.login-backround{    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(207, 207, 207);
}
.login-form{
    background-color: rgb(243, 243, 243);
    display: flex;
    flex-direction: column;
    width: 400px;
    min-height: 400px;
    border-radius: 35px;
    align-items: center;
    color: black;
    
} 






h2{
    margin:  40px;
    font-size: 49px;
    color: black;
}

.login-input{
    background-color: rgb(76, 148, 221);
    border-radius: 10px;
    border-color: aliceblue;
    display: flex;
    width: 93%;
    height: 7%;
    margin-top: 10px;
    /* margin-bottom: 10px; */
    font-size: 20px;
    padding-left:20px ;
}
.note{
    margin: 0px;
    color: rgb(228, 11, 11);
    margin-left: 10px;
}
#username-note{
    padding-right: 130px;
}


.icon-container{
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 7%;
}

.icon{
    background-color: rgb(213, 227, 241);
    border-radius: 7px;
    margin-top: 10px;
    color: blue;
    width: 40%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.text-container{
    margin: 10px;
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    width: 45%;
    height: 7%;
}
#signup{
    margin-top: 15px;
    margin-left: 3px;
    color: rgb(17, 19, 173);
    text-decoration: underline;
    cursor: pointer;
    white-space: nowrap;
}
p{
    color: black;
    white-space: nowrap;
}
mat-icon{
    margin-right: 3px;
}
.icon-text{
    margin:6px;
    font-size: 14px;
}





.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 33%;
    margin-top: 3%;
    width: 100%;
    min-width: 450px;
}
.input-field{
    border-radius: 20px;
    width: 70%;
}
.invalid-feedback{
    color: rgb(241, 72, 72);
}

:host ::ng-deep .login-button .p-button{
    margin-top: 5px;
    background-color: #243699;
    color: white!important;
    width:70% !important;
    height: 100%!important;
    border-radius: 35px!important;
    font-size: 25px !important;
}
:host ::ng-deep .login-button .p-button:hover{
    background-color: #132797;
}

.form-label{
    color: rgb(90, 89, 89);
}