    <div class="login-backround">
    <div class="login-form sm-bg-white" >
    <h2>Login</h2>
    <form class="form" (submit)="onSubmit($event)">
    <p-float-label variant="in" >
    <input pInputText class="input-field" type="text" id="email" [(ngModel)]="name" name="name" required>
    <label for="email" class="form-label">Username</label>
    @if (nameNote){<div class="invalid-feedback">*Username required</div>}
    </p-float-label>
    <p-float-label variant="in">
    <input pInputText class="form-control input-field" type="password" id="password"  [(ngModel)]="password" name="password"  required>
    <label for="password" class="form-label">Password</label>
    @if(passwordNote){<div class="invalid-feedback" >{{passwordNote}}</div>}
   </p-float-label>
  <p-button class="login-button" icon="pi pi-sign-in" label="login" (click)="login()"></p-button>
  </form>

    <div class="text-container">
        <p >Not a member? </p>
        <a id="signup" href="signup"> Signup now</a>
    </div>
   </div>
   </div>



