.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 643px;
    max-height: 800px;
    overflow-y: hidden;
    background-color: black;
    /* max-height: 633px; */
    font-size: 14px;
}

.login-backround{
    /* background-image: url("https://wallpaperaccess.com/full/5313605.jpg");
    background-size: cover;       */
    display: flex;
    justify-content: start;
    background-color: rgb(215, 233, 250);
    width: 100% ;
    max-height: 640px;
}
.login-form{
    background-color: rgb(118, 163, 247);
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 70%;
    margin: 0 auto;
    border-radius: 35px;
    align-items: center;
    /* position: relative; */
    /* top: 17px; */
    max-width: 370px;
    margin-left: 40px;
    margin-top: 60px;
    color: white;
}

.title{
    background-color:rgb(54, 69, 156);
    color: white;
    margin: 0px;
    display: flex;
    width: 28%;
    max-width: 150px;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}
h1{
    position: relative;
    white-space: nowrap;
    font-size: 55px;
    writing-mode: vertical-rl;
    /* transform: scaleY(-1); */
    transform: rotate(180deg);
}


h2{
    margin:  40px;
    font-size: 35px;
    color: white;
}

.login-input{
    background-color: rgb(213, 227, 241);
    border-radius: 10px;
    border-color: aliceblue;
    display: flex;
    width: 63%;
    height: 7%;
    margin-top: 10px;
    /* margin-bottom: 10px; */
    font-size: 20px;
    padding-left:20px ;
}
.note{
    margin: 0px;
    color: rgb(228, 11, 11);
}
#username-note{
    padding-right: 150px;
}


#login-button{
    margin :10px;
    background-color: blue;
    background-color:rgb(64, 84, 202);
    color: white;
    width:70% ;
    height: 10%;
    border-radius: 15px;
    font-size: 25px;
    cursor: pointer;
}


.icon-container{
    display: flex;
    justify-content: space-between;
    width: 70%;
    height: 7%;
}

.icon{
    background-color: rgb(213, 227, 241);
    border-radius: 7px;
    margin-top: 10px;
    color: blue;
    width: 40%;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.text-container{
    margin: 30px;
    display: flex;
    flex-direction: row;
    width: 45%;
    height: 7%;
}
#signup{
    position: relative;
    top: 15px;
    margin-left: 3px;
    color: yellow;
    text-decoration: underline;
    cursor: pointer;
    white-space: nowrap;
}
p{
    color: black;
    white-space: nowrap;
}
mat-icon{
    margin-right: 3px;
}
.icon-text{
    margin:6px;
    font-size: 14px;
}
