.container{
  display: flex;
  flex-direction: row;
}
.menu{
  min-width: 170px;
  background-color: rgb(54, 69, 156);
}

.main{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(240, 240, 245);
}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
    font-size: 45px;
    display: flex;
    white-space: nowrap;
    margin-left: 20px;
}
.buttons{
  display: flex;
  flex-direction: row;
  gap: 7px;
  position:absolute;
  right: 16px;
  top:80px;
}
.tasks-list{
  position: relative;
  margin-top: 0px;
  width: 100%;
  background-color: rgb(242, 242, 253);
  color: rgb(17, 16, 16);
  /* left: 10%;
  right: 10%; */
}

label{
  color: rgb(5, 5, 5);
  font-size: medium;
  margin-right: 10px;
}


:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  border-left: 1px solid #dee2e6 !important;
  border-right: 1px solid #dee2e6 !important;
  font-size: 20px;
}


:host ::ng-deep .select{
  background-color: rgb(211, 206, 206)!important;
  color: black!important;
  border-radius: 10px!important;
}
:host ::ng-deep .select .p-placeholder {
  color: rgb(0, 0, 0)!important;
}
:host ::ng-deep .select .p-select-label {
  color: rgb(255, 255, 255) !important;
}
:host ::ng-deep .select .p-icon {
  color: rgb(77, 76, 76)!important;
}

:host ::ng-deep .dialog-select{
  background-color: rgb(235, 231, 231)!important;
  width: 70%!important;
  color: black!important;
  border-radius: 10px!important;
}
:host ::ng-deep .dialog-select .p-select-label {
  color: rgb(0, 0, 0) !important;
}
:host ::ng-deep .dialog-select .p-icon {
  color: white!important;
}

.dialog-button{
  margin-top: 10px;
  width: 94%;
  display: flex;
  justify-content: end;
  gap:3px;
}

#add-button{
  margin-right: 90%;
}
#delete-button{
  margin-left: 80%;
}
#assigne-button{
  margin-left: 40%;
  width: 40px;
  height: 30px;
}

img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


.col-20 {
  width: 20% !important;
}



  .ag-grid {
  /* Header Styles */
  --ag-header-background-color: rgb(228, 228, 228);
  --ag-header-font-size: 17px;
  --ag-header-height: 40px;
  
  /* Text Styles */
  --ag-font-size: 15px;
  --ag-font-family: Arial, sans-serif;
  
  /* Row Styles */
  --ag-row-height: 43px;
  --ag-row-hover-color: rgba(228, 228, 228, 0.3);
  --ag-selected-row-background-color: rgba(228, 228, 228, 0.6);
  
  /* Border & Grid Styles */
  --ag-border-color: #c7c7c7;
  --ag-secondary-border-color: #a7a2a2;
  
  /* Vertical borders between columns */
  --ag-cell-horizontal-border: solid 1px #d85b5b;
  
  /* Filter Styles - CORRECTED */
  --ag-control-panel-background-color: rgb(39, 38, 38);
  --ag-subheader-background-color: rgb(39, 38, 38);
  --ag-side-button-selected-background-color: rgb(39, 38, 38);
  --ag-filter-tool-panel-background: rgb(39, 38, 38);
  
  /* Pagination container */
  --ag-panel-background-color: #3781cc;
  --ag-control-panel-background-color: #f8f9fa;
}



/* Vertical Column Borders */
.ag-theme-quartz .ag-cell,
.ag-theme-quartz .ag-header-cell {
  border-right: 1px solid #d85b5b !important;
}

/* Filter Panel */
.ag-theme-quartz .ag-filter-toolpanel,
.ag-theme-quartz .ag-filter-toolpanel-group-title,
.ag-theme-quartz .ag-filter-toolpanel-instance {
  background-color: rgb(39, 38, 38) !important;
  color: white !important;
}

.ag-theme-quartz .ag-floating-filter-input input {
  background-color: rgb(39, 38, 38) !important;
  color: white !important;
  border-color: #666 !important;
}

/* Pagination */
.ag-theme-quartz .ag-paging-panel {
  background-color: #3781cc !important;
  color: white !important;
  padding: 10px !important;
}

.ag-theme-quartz .ag-paging-button {
  background-color: white !important;
  border-radius: 6px !important;
  padding: 4px 8px !important;
}


::ng-deep .ag-theme-quartz .ag-cell {
  background-color: black!important;
  border-right: 1px solid #d42929; /* Light gray border */
}

/* Optional: Remove border from last column */
.ag-theme-quartz .ag-row .ag-cell:last-child {
  border-right: none;
}