<div class="container">
  <div class="menu"><app-menu-component></app-menu-component></div>
  <div class="main">
  <div class="header">
    <h1>Taks Management</h1>
    
    <p-button id="add-button" (click)="openDialog('add')" icon="pi pi-plus-circle" variant="text" pTooltip="Add New Task" showDelay="1000"></p-button>
  </div>

 
  <div class="tasks-list">
    <!-- <p-table [value]="tasks" class="table" 
    showGridlines paginator="true" [rows]="10" >
    <ng-template #header>
    <tr>
    <th class="col-20">Id</th>
    <th class="col-20">Title</th>
    <th class="col-20">Assigned User</th>
    <th class="col-20">Status</th>
    <th class="col-20">Deadline</th>
    </tr>

  <tr visible="false">
    <th class="col-20">
      <p-columnFilter type="number" field="id" [showMenu]="false">
        <ng-template pTemplate="filter" let-value let-filter="filterCallback">

        <p-select
            [options]="numbers"
            [checkmark]="true"
            [showClear]="true"
            placeholder="Select Id"
            (onChange)="filter($event.value)"
            class="select">
        </p-select>

    </ng-template>
      </p-columnFilter>
    </th>
    <th class="col-20"></th>
    <th class="col-20"></th>
    <th class="col-20">
      <p-columnFilter type="text" field="status" placeholder="Search Status" [showMenu]="false">
        <ng-template pTemplate="filter" let-value let-filter="filterCallback">

        <p-select
            [options]="statuses"
            [checkmark]="true"
            [showClear]="true"
            placeholder="Select Status"
            (onChange)="filter($event.value)"
            class="select">
        </p-select>

    </ng-template>
      </p-columnFilter>
    </th>
    <th class="col-20"></th>
  </tr>
</ng-template>

        <ng-template #body let-task>
          <tr>
            <td>{{ task.id }}</td>
            <td>{{ task.title }}</td>
            <td style="display:flex;flex-direction:row;gap:5px">
              @if (task.assignedUser) {
                <img [src]="getImageUrl(task.assignedUser?.imageName)" >
                <p>{{task.assignedUser.email}}</p>
              }@else {
                <p-button id="assigne-button" variant="text" severity="info" (click)="openDialog('assign')" pTooltip="Assinge Task To User">
                  <i class="pi pi-user-plus"></i>
                </p-button>
              }
            </td>
            <td>{{ task.status }}</td>
            <td>{{ task.deadline }}
              <p-button id="delete-button" (click)="openDialog('delete',task.id)" icon="pi pi-trash" variant="text" severity="danger" pTooltip="Delete Task"></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table> -->



      <ag-grid-angular
      class="ag-theme-quartz ag-grid"
      [theme]="theme"
      [rowData]="tasks"
      [columnDefs]="colDef"
      [defaultColDef]="colDefault"
      [pagination]="true"
      [paginationPageSize]="pageSize"
      [paginationPageSizeSelector]="pageSizeSelector"
      domLayout="autoHeight"
    >
    </ag-grid-angular>
    </div>
  </div>
</div>




<!-- <app-custom-dialog-component [type]="dialogType"></app-custom-dialog-component> -->









 <p-dialog position='top' header="Assinge Task To User" [modal]="true" [(visible)]="assigneVisible" [style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-8" style="margin-top:20px">The user will be notified of the task.</span>
    <div style="margin-top: 22px" variant="in">
        <label for="select">Username</label>
        <p-select
            class="select"
            [options]="userNames"
            [(ngModel)]="userName"
            [checkmark]="true"
            [showClear]="true"
            appendTo="body"
            dropdownIcon="pi pi-chevron-up"
            class="dialog-select"
            placeholder="Select Username">
        </p-select>
      </div>
    <div class="dialog-button">
        <p-button class="cancel"  label="Cancel"  (click)="assigneVisible=false" severity="secondary" />
        <p-button class="confirm" label="Confirm" (click)="assigneTaskToUser()" severity="info" />
    </div>
</p-dialog>


<p-dialog position='top' header="Delete Task" [modal]="true" [(visible)]="deleteVisible" [style]="{ width: '25rem' }">
  <div style="display: flex;flex-direction:row">
    <i style="margin-top: 15px;font-size:30px;" class="pi pi-exclamation-circle"></i>
    <p style="font-size:19px;margin-left:20px"> Do you want to delete this Task?</p>
  </div>
    <div class="dialog-button">
        <p-button class="cancel"  label="Cancel" severity="secondary" (click)="deleteVisible=false" />
        <p-button class="confirm" label="Delete" (click)="deleteTask()" severity="danger"/>
    </div>
</p-dialog>

<p-dialog position='top' header="Add New Task" [modal]="true" [(visible)]="addVisible" [style]="{ width: '25rem' }">
    <div >
        <label for="addedtitle" >Task Title</label>
        <input style="width:67%;margin-left:23px" class="dialog-input" pInputText id="addedtitle" [(ngModel)]="addedTask!.title" required class="flex-auto" autocomplete="off"/>
    </div>
    <div style="margin-top: 5px;">
        <label for="addedDecs" >Description</label>
        <input style="width:67%;margin-left:10px" class="dialog-input" pInputText id="addedDesc" [(ngModel)]="addedTask!.description" required class="flex-auto" autocomplete="off"/>
    </div>
    <div class="dialog-button">
        <p-button class="cancel"  label="Cancel" severity="secondary" (click)="addVisible=false" />
        <p-button class="confirm" label="Confirm" (click)="addTask()" />
    </div>
</p-dialog>
