<div class="container">
<div id="title">
  <h1 >Manage Tasks</h1>
  <a routerLink="/tasks" class="menu-item" style="font-size: 18px;margin-right:15px" ><mat-icon class="icon-menu">list</mat-icon>User's Taks List</a>
  <a routerLink="/dashboard" class="menu-item"><mat-icon class="icon-menu">dashboard</mat-icon>Tasks's Dashboard</a>
  <a href="admin" class="menu-item" id="login-menu"><mat-icon class="icon-menu" id="login-icon">login</mat-icon><p style="font-size: 16px;display:inline">Return to Login Page</p></a>

  <div id="info">
  <a style="text-decoration: underline;cursor:pointer;" >about us</a>
  <a style="text-decoration: underline;cursor:pointer;"  >contact us</a>
  <p style="margin-left: 20px;">copyright &copy; 2025</p></div>
</div>

<div class="main">


<div class="header">
  <div class="filter">
 <mat-select
  class="header-button"
  [(ngModel)]="searchId"
  placeholder="Select Id"
  (selectionChange)="idChange($event.value)">
    @for (i of numbers; track $index) {
      <mat-option [value]="i">{{ i }}</mat-option>
    }
  </mat-select>
  <button *ngIf="displayPlaceholder1==false" (click)="getTasks()" class="cancel">Cancel</button>
  </div>
   
  <div class="filter">
  <mat-select class="header-button" 
  [(ngModel)]="status" [placeholder]="displayPlaceholder2 ? 'Select Status' : ''"
  (selectionChange)="statusChange($event.value)"
  >
    <mat-option value="COMPLETED">Completed</mat-option>
    <mat-option value="PENDING">Pending</mat-option>
    <mat-option value="IN_PROGRESS">In Progress</mat-option>
    <mat-option value="OVERDUE">Overdue</mat-option>
</mat-select>
  <button *ngIf="displayPlaceholder2==false" (click)="getTasks()" class="cancel">Cancel</button>
  </div>


  <button id="create" mat-button class="header-button" [mat-menu-trigger-for]="createMenu">Create Task</button>
    <mat-menu style="overflow-x: hidden;" class="menu" #createMenu="matMenu" [hasBackdrop]="false">
    <input matinput type="text" placeholder="Enter Task's Title" (click)="$event.stopPropagation()" [(ngModel)]="addedTask!.title" ><br>
    <input matinput type="text" placeholder="Enter Task's Description" (click)="$event.stopPropagation()" [(ngModel)]="addedTask!.description" ><br>
     <mat-select id="createStatus" class="header-button"
      [(ngModel)]="addedTask!.status" placeholder="Select Status"
       (click)="$event.stopPropagation()"
      >
        <mat-option style="background:white" value="COMPLETED">Completed</mat-option>
        <mat-option style="background:white" value="PENDING">Pending</mat-option>
        <mat-option style="background:white" value="IN_PROGRESS">In Progress</mat-option>
        <mat-option style="background:white" value="OVERDUE">Overdue</mat-option>
      </mat-select><br>
      <div style="display: flex;flex-direction:row">
      <button style="margin-right: 3px;" class="header-button">cancel</button>
      <button style="margin-right: 0px;" class="header-button" (click)="addTask()" >confirm</button></div>
    </mat-menu>



  <button id="update" mat-button class="header-button" [mat-menu-trigger-for]="deleteMenu">Delete Task</button>
    <mat-menu class="menu" #deleteMenu="matMenu" [hasBackdrop]="false">
    <input matinput type="number" placeholder="Enter Task's Id" (click)="$event.stopPropagation()" [(ngModel)]="deletedId" ><br>
    <div style="display: flex;flex-direction:row">
      <button style="margin-right: 3px;" class="header-button">cancel</button>
      <button style="margin-right: 0px;" class="header-button" (click)="deleteTask()" >confirm</button></div>
    </mat-menu>

  <button id="assign" mat-button class="header-button" [mat-menu-trigger-for]="assigneMenu">Assigne Task</button>
    <mat-menu class="menu" #assigneMenu="matMenu" [hasBackdrop]="false">
    <input matinput type="number" placeholder="Enter User's Id" (click)="$event.stopPropagation()" [(ngModel)]="userId" ><br>
    <input matinput type="number" placeholder="Enter Task's Id" (click)="$event.stopPropagation()" [(ngModel)]="taskId" ><br>
    <div style="display: flex;flex-direction:row">
      <button style="margin-right: 3px;" class="header-button">cancel</button>
      <button style="margin-right: 0px;" class="header-button" (click)="assigneTaskToUser()" >confirm</button></div>
    </mat-menu>

 
</div>


<div class="tasks-list">
@if (isTableVisible1==true) {
<mat-table  *ngIf="isTableVisible1" [dataSource]="dataSource" class="table" matSort matPaginator>
  <ng-container matColumnDef="id" >
    <mat-header-cell  *matHeaderCellDef class="table1" mat-sort-header> ID </mat-header-cell>
    <mat-cell *matCellDef="let task"> {{task.id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef class="table1" mat-sort-header> Title </mat-header-cell>
    <mat-cell *matCellDef="let task"> {{task.title}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef class="table1"> Description </mat-header-cell>
    <mat-cell *matCellDef="let task"> {{task.description}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef class="table1"> Status </mat-header-cell>
    <mat-cell *matCellDef="let task"> {{task.status}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="deadline">
    <mat-header-cell *matHeaderCellDef class="table1"> Deadline </mat-header-cell>
    <mat-cell *matCellDef="let task"> {{task.deadline}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<mat-paginator *ngIf="isTableVisible1" 
               #paginator1
               [pageSize]="5" 
               [pageSizeOptions]="[5, 10, 20]"
               showFirstLastButtons
               aria-label="Select page of tasks">
</mat-paginator>
}



@else if (isTableVisible2==true) {
@if (task) {
  <mat-table style="color:white" [dataSource]="[task]" class="table">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let task"> {{task.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
      <mat-cell *matCellDef="let task"> {{task.title}} </mat-cell>
    </ng-container>

   <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef class="table1"> Description </mat-header-cell>
    <mat-cell *matCellDef="let task"> {{task.description}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef class="table1"> Status </mat-header-cell>
    <mat-cell *matCellDef="let task"> {{task.status}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="deadline">
    <mat-header-cell *matHeaderCellDef class="table1"> Deadline </mat-header-cell>
    <mat-cell *matCellDef="let task"> {{task.deadline}} </mat-cell>
  </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
}
@else {
  <h3>No Task Found With That Id</h3>
}
}




@else if (isTableVisible3==true) {
<mat-table style="color:white" *ngIf="isTableVisible3" [dataSource]="dataSource1" class="table" matSort>
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
    <mat-cell *matCellDef="let task"> {{task.id}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Title </mat-header-cell>
    <mat-cell *matCellDef="let task"> {{task.title}} </mat-cell>
  </ng-container>

 <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef class="table1"> Description </mat-header-cell>
    <mat-cell *matCellDef="let task"> {{task.description}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef class="table1"> Status </mat-header-cell>
    <mat-cell *matCellDef="let task"> {{task.status}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="deadline">
    <mat-header-cell *matHeaderCellDef class="table1"> Deadline </mat-header-cell>
    <mat-cell *matCellDef="let task"> {{task.deadline}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator *ngIf="isTableVisible3" 
               #paginator2
               [pageSize]="5" 
               [pageSizeOptions]="[5, 10, 20]"
               showFirstLastButtons
               aria-label="Select page of completed tasks">
</mat-paginator>
}
</div>
</div>
</div>

