.container{
  display: flex;
  flex-direction: row;
}
.menu{
  min-width: 170px;
  background-color: rgb(54, 69, 156);
}

.main{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(240, 240, 245);
}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1{
    font-size: 45px;
    display: flex;
    white-space: nowrap;
    margin-left: 20px;
}
.buttons{
  display: flex;
  flex-direction: row;
  gap: 7px;
  position:absolute;
  right: 16px;
  top:80px;
}
.tasks-list{
  position: relative;
  margin-top: 0px;
  width: 100%;
  background-color: rgb(242, 242, 253);
  color: rgb(17, 16, 16);
  /* left: 10%;
  right: 10%; */
}

label{
  color: rgb(5, 5, 5);
  font-size: medium;
  margin-right: 10px;
}



:host ::ng-deep .select{
  background-color: #faf9f9!important;
  color: black!important;
  border-radius: 10px!important;
}
:host ::ng-deep .select .p-placeholder {
  color: rgb(0, 0, 0)!important;
}
:host ::ng-deep .select .p-select-label {
  color: rgb(255, 255, 255) !important;
}
:host ::ng-deep .select .p-icon {
  color: rgb(252, 248, 248)!important;
}

:host ::ng-deep .dialog-select{
  background-color: rgb(230, 230, 230)!important;
  width: 70%!important;
  color: black!important;
  border-radius: 10px!important;
}
:host ::ng-deep .dialog-select .p-select-label {
  color: rgb(0, 0, 0) !important;
}
:host ::ng-deep .dialog-select .p-icon {
  color: white!important;
}

.dialog-button{
  margin-top: 10px;
  width: 94%;
  display: flex;
  justify-content: end;
  gap:3px;
}

#add-button{
  margin-right: 90%;
}
#delete-button{
  margin-left: 80%;
}
#assigne-button{
  margin-left: 40%;
  width: 40px;
  height: 30px;
}

img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}


  .ag-grid {
  --ag-header-background-color: rgb(248, 248, 248);
  --ag-header-font-size: 17px;
  --ag-header-height: 40px;
  --ag-header-font-family:blond;
  
  /* Text Styles */
  --ag-font-size: 15px;
  --ag-font-family: Arial, sans-serif;
  
  /* Row Styles */
  --ag-row-height: 43px;
  --ag-row-hover-color: rgba(228, 228, 228, 0.3);
  --ag-selected-row-background-color: rgba(228, 228, 228, 0.6);
}





::ng-deep .p-datepicker-panel{
  background-color: rgb(248, 247, 244)!important;
  color:black;
}

::ng-deep .p-datepicker-header{
  background-color: rgb(248, 247, 244)!important;
  color:black;
}

::ng-deep .p-datepicker-input{
  display: block;
  width: 70%;
  margin-left: 18px;
}
::ng-deep .p-datepicker-dropdown{
  background-color: rgb(248, 247, 244)!important;
  color:black;
  margin: 0px!important;
}